In [1]:
import os
import pandas as pd

from IPython.display import Latex

In [2]:
DATAPATH = "data"

# Data

In [3]:
train = pd.read_csv(os.path.join(DATAPATH, "raw/train.csv"), index_col="problem_id")
test = pd.read_csv(os.path.join(DATAPATH, "raw/test.csv"), index_col="problem_id")

In [4]:
train.head(5)

                                                 problem_text answer
problem_id
2374        Find the value of the expression $\dfrac{17}{5...    1.6
4723        In a company of 30 people, 25 use the social n...     24
7135        The number of road traffic accidents (RTAs) in...     32
5814        Find the value of the expression $\dfrac{2\str...    256
9237        A traveler from Moscow wants to visit four cit...     53

In [5]:
train.shape

(100, 2)

In [6]:
test.head(5)

                                                 problem_text
problem_id
11919       Find the value of the expression \(4.8 \cdot 2...
8513        The plane's navigation system informs the pass...
7887        The volume of a rectangular parallelepiped is ...
5272        Find the root of the equation: $\left(\dfrac{1...
8295        At the school, there are two-person camping te...

In [7]:
test.shape

(100, 1)

# Errors

In [8]:
train.loc[9294]

problem_text    A tourist who has arrived in Saint Petersburg ...
answer                                                       2250
Name: 9294, dtype: object

In [9]:
train.loc[9294]["problem_text"]

"A tourist who has arrived in Saint Petersburg wants to visit 4 museums: the Hermitage, the Russian Museum, the Peter and Paul Fortress, and St. Isaac's Cathedral. The excursion ticket offices offer routes that include visits to one or more sites. Information about ticket prices and routes is presented in the table.\n\n\\begin{center}\n\\begin{tabular}{|c|c|c|}\n\\hline\nRoute Number & Visited Sites & Cost (RUB) \\\\\\hline\n1 & Hermitage & 300 \\\\\\hline\n2 & Peter and Paul Fortress, St. Isaac's Cathedral & 1350 \\\\\\hline\n3 & St. Isaac's Cathedral & 300 \\\\\\hline\n4 & Hermitage, Russian Museum & 1400 \\\\\\hline\n5 & Peter and Paul Fortress, Russian Museum & 1650 \\\\\\hline\n6 & Russian Museum & 650 \\\\\\hline\n\\end{tabular}\n\\end{center}\n\nWhich routes should the traveler choose to visit all four museums while spending the least amount of money on tickets?\n\nIn the answer, indicate any one set of route numbers without spaces, commas, or other additional symbols."

In [10]:
Latex(train.loc[9294]["problem_text"])